@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

@font-face {
  font-family: "brave";
  src: url("../images/Brave\ Strong.ttf") format("truetype");
}

html {
  background: #222;
  height: 100%;
  background-position: fixed;
  overflow-y: scroll;
}

body {
  background: none;
  line-height: 1.5;
  color: #f5f5f5;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  margin-left: 15px;
  font-family: "brave";
  margin-top: 60px;
}
/* .navbar-header {
  margin-left: 15px;
  font-family: "brave";
  font-size: 30px;
} */

.btn-twitter {
  margin-top: 20px;
}

#navbar {
  margin: 0;
  width: 100%;
  padding: 0;
  /* overflow: hidden; */
  z-index: 9999;
  background-color: #222;
  color: #f5f5f5;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  border-color: #222 !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link {
  color: #f5f5f5;
  padding: 30px;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding: -100px;
}

.nav-right {
  float: right;
}

.jumbotron {
  margin: 0 auto;
  text-align: center;
  font-family: "brave";
  background-color: #222 !important;
  color: #f5f5f5;
  margin-top: 60px;
  padding-top: 100px;
}

/* .jumbo {
  margin-top: 100px;
} */

.subtitle {
  text-align: center;
}

.aboutMeImg {
  width: 400px;
  height: 400px;
  float: left;
  padding-right: 15px;
  border-radius: 50%;
  border: solid 3px gray;
  shape-outside: inset(1% round 50%);
  margin-right: 20px;
}

.card-img-top {
  height: 200px;
}
.aboutMe {
  text-align: center;
  font-family: "brave";
  padding: 10px;
  font-size: 3rem;
}

.tiger {
  width: 200px;
  height: 200px;
  margin: -60px 0 0 -60px;
  top: 50%;
  left: 50%;

  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

p {
  font-size: 20px;
  text-align: justify;
  font-family: "Source Sans Pro", sans-serif;
}

.projectP {
  text-align: justify;
  font-size: 16px;
}

h2 {
  /* writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 1px; */
  text-align: center;
  font-family: "brave";
  padding: 10px;
  font-size: 3rem;
}

#myCarousel {
  height: 100%;
}

#someOfMyWork {
  font-family: "brave";
  text-align: center;
  font-size: 3rem;
  padding: 10px;
}

.projectCard {
  background-color: #303030;
  padding: 15px;
  margin-bottom: 20px;
}
.projectTitle {
  text-align: center;
  font-size: 2.5rem;
  font-family: "brave";
}

.projectBtn {
  text-align: center;
  font-size: 2rem;
  background-color: #222;
  border-color: #f5f5f5;
  margin-left: 10px;
}

.contactMeCard {
  background-color: #303030;
  text-align: center;
  color: #f5f5f5;
}

.contactText {
  color: #f5f5f5;
}
.footer {
  color: #f5f5f5;
  font-family: "brave";
  top: 0;
  background-color: #222;
  font-size: 20px;
  text-align: right;
  margin-top: 35px;
}
